@import "base.css";
body {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 10px;
  margin-left: 20px;
}
h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.text-tagline {
 color: #565869;
 font-size: 18px;
}
