.pheader{
 justify-content: space-between;
 align-items: center;
 padding-bottom: 10px;
 margin: 0 0 50px 0;
 border-bottom: 1px solid #ececf1;
 background-color: #fff;
}
.pheader-container {
 display: flex;
}
.pheader-left{
 margin-right: 10px;
}
.pheader-left, .pheader-right{
 display: inline-flex;
}
.pheader-nav {
 align-items: start;
 display: flex;
 margin: 0 10px 0 24px;
 color: #6e6e80;
 cursor: pointer;
}
.nav-item {
 padding: 0 10px 0 10px;
}
.pheader-right {
  margin-left: auto;
}
.nav-item:link, .nav-item:visited
{
 color: #565869;
 text-decoration: none;
}
.nav-item:hover{
 color: #17181c;
}
.nav-item:active{
 color: #10a37f;
}
