@import "base.css";
body {
  font-size: 16px;
  line-height: 24px;
  color: #565869;
  font-family: "ColfaxAI", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 10px;
  margin-left: 20px;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.subheading {
 color: black;
 font-size: 14px;
}
.sub-subheadings {
 padding-top: 20px;
}
.desc-text {
font-size: 14px;
}
.docs-navy {
 width: 18%;
 height: 100%;
 overflow-x: hidden;
 padding-top: 2%;
 border-right: 1px solid #ececf1;
}
.scroll-link{
 display: block;
 color: #565869;
 text-decoration: none;
}
.scroll-link:hover{
 color: #17181c;;
}
.scroll-link:active{
 background: #e6f3f3;
 color: #10a37f;
}
.sub-blocks {
  display: none;
  margin: 0;
  padding-left: 15px;
  list-style: none;
}
.first-main-block {
 display:block;
}
.docs-body {
 margin-left: 5%;
 flex: 1;
}
.wrapper {
  display: flex;
  flex-direction: row;
}
.body-text {
 display: none;
}
#body-intro {
 display: block;
}
