{% extends "base.html" %}
{% block title %}    
        <title>OpenAI Application Examples</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}" />
<link
    rel="shortcut icon"
    href="{{ url_for('static', filename='chatgpt.png') }}"
  />
{% endblock %}
{% block content %}
        <div class="main_container">
            <h1>About OpenAI Project</h1>
                <div class="text-tagline">
                    <h3>Description</h3>
                    <p>Text of Description</p>
                </div>
                <div class="text-tagline">
                    <h3>Features</h3>
                    <p>Text of Features</p>
                </div>
                <div class="text-tagline">
                    <h3>Libraries Used</h3>
                    <p>Text of Libraries</p>
                </div>
                <div class="text-tagline">
                    <h3>Author</h3>
                    <p>Text of Author</p>
                </div>
        </div>
{% endblock %}
