<!DOCTYPE html>
<html>
    <head>
        <title>OpenAI Application Examples</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}" />
<link
    rel="shortcut icon"
    href="{{ url_for('static', filename='chatgpt.png') }}"
  />
    </head>
    <body>
        <div class="pheader">
            <div class="pheader-container">
                <div class="pheader-left">
                    <a href="/">
                        <img width="25px" height="25px" src="{{ url_for('static', filename='chatgpt.png')}}" />
                    </a>
                        <div class="pheader-nav pheader-menu-active">
                            <a class="nav-item active" href="/">Overview</a>
                            <a class="nav-item" href="/docs">Documentation</a>
                            <a class="nav-item" href="/examples">Examples</a>
                            <a class="nav-item about" href="/about">About</a>
                        </div>
                </div>
                <div class="pheader-right"> 
                </div>
            </div>
        </div>
        <div class="main_container">
            <h1>About OpenAI Project</h1>
                <div class="text-tagline">
                    <h3>Description</h3>
                    <p>Text of Description</p>
                </div>
                <div class="text-tagline">
                    <h3>Features</h3>
                    <p>Text of Features</p>
                </div>
                <div class="text-tagline">
                    <h3>Libraries Used</h3>
                    <p>Text of Libraries</p>
                </div>
                <div class="text-tagline">
                    <h3>Author</h3>
                    <p>Text of Author</p>
                </div>
        </div>
    </body>
</html>
