<!DOCTYPE html>
<html>
<head>
    {% block title %}{% endblock %}</title>
</head>        
<body>
    <header>
        <div class="pheader">
            <div class="pheader-container">
                <div class="pheader-left">
                    <a href="/">
                        <img width="25px" height="25px" src="{{ url_for('static', filename='chatgpt.png')}}" />
                    </a>
                        <div class="pheader-nav pheader-menu-active">
                            <a class="nav-item active" href="/">Overview</a>
                            <a class="nav-item" href="/docs">Documentation</a>
                            <a class="nav-item" href="/examples">Examples</a>
                            <a class="nav-item about" href="/about">About</a>
                        </div>
                </div>
                <div class="pheader-center">
                </div>
                <div class="pheader-right"> 
                    <a class="nav-item log-in" href="/login">Log in</a>
                    <a class="nav-item sign-up" href="/signup">Sign up</a>
                </div>
            </div>
        </div>
        </header>
    {% block content %}
    {% endblock %}

    <footer>
    {% block footer %}
    <!--<p>This is the default footer.</p> -->
    {% endblock %}
    </footer>
</body>
