{% extends "base.html" %}
{% block title %}

        <title>OpenAI Application Main Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
<link
    rel="shortcut icon"
    href="{{ url_for('static', filename='chatgpt.png') }}"
  />
{% endblock %}
{% block content %}
        <div class="main_container">
            <h1>Welcome to OpenAI</h1>
                <div class="text-tagline">
                    <h3>Start with the basics</h3>
                </div>
            <div class="image-container">
                <div class="image-wrapper">
                    <a class="ovr-card" href="/docs#quickstart">
                    <picture>
                        <source source media="(min-width: 500px)" srcset="https://cdn.openai.com/API/images/gradient_card_1.png">
                        <img style="width:90%;height:100%; border-radius: 15px;" src="https://cdn.openai.com/API/images/gradient_card_1.png" alt="An Image" class="ovr-card-bg">
                    </picture>
                    <div class="image-text">
                        <h2>Quickstart tutorial</h2>
                        <p>Learn by building a quick sample app</p>
                    </div>
                    </a>
                </div>
                <div class="image-wrapper">
                    <a class="ovr-card" href="/examples">
                        <picture>
                            <source media="(min-width: 500px)" srcset="https://cdn.openai.com/API/images/gradient_card_2.png">
                            <img  style="width:90%;height:100%; border-radius: 15px;" src="https://cdn.openai.com/API/images/gradient_card_2.png" alt="An Image" class="ovr-card-bg">
                        </picture>
                        <div class="image-text">
                            <h2>Examples</h2>
                            <p>Explore some example tasks</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
{% endblock %}
