<!DOCTYPE html>
<html>
    <head>
        <title>OpenAI Application Examples</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
<link
    rel="shortcut icon"
    href="{{ url_for('static', filename='chatgpt.png') }}"
  />
    </head>
    <body>
        <div class="pheader">
            <div class="pheader-container">
                <div class="pheader-left">
                    <img width="25px" height="25px" src="{{ url_for('static', filename='chatgpt.png')}}" />
                        <div class="pheader-nav pheader-menu-active">
                            <a class="nav-item active" href="/">Overview</a>
                            <a class="nav-item" href="/docs">Documentation</a>
                            <a class="nav-item" href="/examples">Examples</a>
                        </div>
                </div>
                <div class="pheader-right">
                </div>
            </div>
        </div>
        <div class="main_container">
            <h1>Welcome to OpenAI</h1>
                <div class="text-tagline">
                    <h3>Start with the basics</h3>
                </div>
            <div class="ovr-shortcuts">
                <a class="ovr-card" href="/doc/quickstart" style="height: 30px;">
                <picture>
                    <source type="image/webp" srcset="https://cdn.openai.com/API/images/gradient_card_1.webp">
                    <source type="image/png" srcset="https://cdn.openai.com/API/images/gradient_card_1.png">
                    <img style="width:30px;height:auto;" src="https://cdn.openai.com/API/images/gradient_card_1.png" alt class="ovr-card-bg">
                </picture>
                <div class="ovr-card-title body-large bold">Quickstart tutorial</div>
                <div class="ovr-card-desc body-small">Learn by building a quick sample app</div>
                </a>

                <a class="ovr-card" href="/examples">
                    <picture>
                        <source type="image/webp" srcset="https://cdn.openai.com/API/images/gradient_card_2.webp">
                        <source type="image/png" srcset="https://cdn.openai.com/API/images/gradient_card_2.png">
                        <img src="https://cdn.openai.com/API/images/gradient_card_2.png" alt class="ovr-card-bg">
                    </picture>
                    <div class="ovr-card-title body-large bold">Examples</div>
                    <div class="ovr-card-desc body-small">Explore some example tasks</div>
                </a>
            </div>
        </div>
    </body>
</html>
